modules = ["java-graalvm22.3", "nodejs-20", "web"]
run = "./npmw start"

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "./npmw start"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 9000
externalPort = 80

[rules]

[rules.formatter]

[rules.formatter.fileExtensions]

[rules.formatter.fileExtensions.".json"]
formatter = "module:nodejs-20/formatter:prettier"